<section ng-controller="HomeController">
  <body>
  <!-- header -->

  <div class="header">
    <div class="container">
      <div class="header-left">
        <a href="index.html"><i class="glyphicon glyphicon-book" aria-hidden="true"></i>Nidhal & Hammo <span>Your Child Future in Our Hands</span></a>
      </div>
      <div class="header-left1">
        <ul>
          <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Contact Us</li>
          <li>+216 50 919 596</li>
        </ul>
      </div>
      <div class="header-right">
        <ul>
          <li><a href="https://web.facebook.com/nidhal.messelmani" ></a></li>
          <li><a href="https://twitter.com/M_Nidhal47"></a></li>
          <li><a href="#"></a></li>
          <li><a href="https://www.pinterest.com/nidhal47/"></a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!-- //header -->
  <!-- banner -->
  <div class="">

    <div class="">
      <div >
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
              <h4>Slide {{$index}}</h4>
              <p>{{slide.text}}</p>
            </div>
          </slide>
        </carousel>
      </div>


  </div>
  <!-- //banner -->
  <!-- header-nav -->
  <div class="header-nav">
    <div class="container">
      <div class="header-nav-bottom">
        <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <san class="sr-only">Toggle navigation</san>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ><a href="">Home</a></li>
              <li><a href="#about" class="scroll">About</a></li>
              <li><a href="#news" class="scroll">News & Events</a></li>
              <li><a href="#gallery" class="scroll">Photo Gallery</a></li>
              <li><a href="#contact" class="scroll">Contact Us</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
      </div>
    </div>
  </div>
  <!-- //header-nav -->


  <!-- news -->

    <div class="container">

      <div class="latest-news">
        <div class="latest-news-grids">
          <div class="col-md-6 latest-news-grid">
            <div class="col-xs-4 latest-news-grid-left">
              <img src="assets/images/13.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="col-xs-8 latest-news-grid-right">
              <p><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i><span>September 25th 2015</span></p>
              <h4>fugiat quo voluptas nulla pariatur</h4>
              <p class="man">But who has any right to find fault with a man who
                chooses to enjoy.</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="col-md-6 latest-news-grid">
            <div class="col-xs-4 latest-news-grid-left">
              <img ng-src="assets/images/14.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="col-xs-8 latest-news-grid-right">
              <p><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i><span>September 25th 2015</span></p>
              <h4>fugiat quo voluptas nulla pariatur</h4>
              <p class="man">But who has any right to find fault with a man who
                chooses to enjoy.</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="latest-news-grids">
          <div class="col-md-6 latest-news-grid">
            <div class="col-xs-4 latest-news-grid-left">
              <img src="assets/images/15.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="col-xs-8 latest-news-grid-right">
              <p><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i><span>September 25th 2015</span></p>
              <h4>fugiat quo voluptas nulla pariatur</h4>
              <p class="man">But who has any right to find fault with a man who
                chooses to enjoy.</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="col-md-6 latest-news-grid">
            <div class="col-xs-4 latest-news-grid-left">
              <img src="assets/images/16.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="col-xs-8 latest-news-grid-right">
              <p><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i><span>September 25th 2015</span></p>
              <h4>fugiat quo voluptas nulla pariatur</h4>
              <p class="man">But who has any right to find fault with a man who
                chooses to enjoy.</p>
            </div>
          </div>

        </div>
      </div>
        </div>


  <!-- //news -->
  <!-- gallery -->

  <div id="gallery" class="gallery">
    <div class="container">
      <h3>Photo Gallery</h3>
      <div class="gallery-grids">
        <div class="gallery-grid">
          <div class="gallery-grid1">
            <figure class="effect-bubba">
              <a  rel="title" class="b-link-stripe b-animate-go  thickbox">
                <img src="assets/images/5.jpg" alt=" " class="img-responsive" />
                <figcaption>
                  <h4>Enimet pulvinar posuere</h4>
                  <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                </figcaption>
              </a>
            </figure>
          </div>
          <div class="gallery-grid1">
            <figure class="effect-bubba">
              <a rel="title" class="b-link-stripe b-animate-go  thickbox">
                <img src="assets/images/9.jpg" alt=" " class="img-responsive" />
                <figcaption>
                  <h4 class="hjk">Enimet pulvinar</h4>
                  <p>In sit amet sapien eros</p>
                </figcaption>
              </a>
            </figure>
          </div>
        </div>
        <div class="gallery-grid">
          <div class="gallery-grid1">
            <figure class="effect-bubba">
              <a rel="title" class="b-link-stripe b-animate-go  thickbox">
                <img src="assets/images/10.jpg" alt=" " class="img-responsive" />
                <figcaption>
                  <h4 class="hjk">Enimet pulvinar</h4>
                  <p>In sit amet sapien eros</p>
                </figcaption>
              </a>
            </figure>
          </div>
          <div class="gallery-grid1">
            <figure class="effect-bubba">
              <a  rel="title" class="b-link-stripe b-animate-go  thickbox">
                <img src="assets/images/6.jpg" alt=" " class="img-responsive" />
                <figcaption>
                  <h4>Enimet pulvinar posuere</h4>
                  <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                </figcaption>
              </a>
            </figure>
          </div>
        </div>
        <div class="gallery-grid">
          <div class="gallery-grid1">
            <figure class="effect-bubba">
              <a rel="title" class="b-link-stripe b-animate-go  thickbox">
                <img src="assets/images/7.jpg" alt=" " class="img-responsive" />
                <figcaption>
                  <h4>Enimet pulvinar posuere</h4>
                  <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                </figcaption>
              </a>
            </figure>
          </div>
          <div class="gallery-grid1">
            <figure class="effect-bubba">
              <a  rel="title" class="b-link-stripe b-animate-go  thickbox">
                <img src="assets/images/11.jpg" alt=" " class="img-responsive" />
                <figcaption>
                  <h4 class="hjk">Enimet pulvinar</h4>
                  <p>In sit amet sapien eros</p>
                </figcaption>
              </a>
            </figure>
          </div>
        </div>
        <div class="gallery-grid">
          <div class="gallery-grid1">
            <figure class="effect-bubba">
              <a rel="title" class="b-link-stripe b-animate-go  thickbox">
                <img src="assets/images/12.jpg" alt=" " class="img-responsive" />
                <figcaption>
                  <h4 class="hjk">Enimet pulvinar</h4>
                  <p>In sit amet sapien eros</p>
                </figcaption>
              </a>
            </figure>
          </div>
          <div class="gallery-grid1">
            <figure class="effect-bubba">
              <a rel="title" class="b-link-stripe b-animate-go  thickbox">
                <img src="assets/images/8.jpg" alt=" " class="img-responsive" />
                <figcaption>
                  <h4>Enimet pulvinar posuere</h4>
                  <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                </figcaption>
              </a>
            </figure>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!-- //gallery -->
  <!-- contact -->
  <div id="contact" class="contact">
    <div class="container">
      <h3>How To Find Us</h3>
      <div class="contact-bottom">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.958900464012!2d36.23097800000001!3d49.993379999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0f009ab9f07%3A0xa21e10f67fa29ce!2sGeorgia+Education+Center!5e0!3m2!1sen!2sin!4v1436943860334" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-md-4 contact-left">
        <h4>Address</h4>
        <p>est eligendi optio cumque nihil impedit quo minus id quod maxime
          <span>26 56D Rescue,US</span></p>
        <ul>
          <li>Free Phone :+1 078 4589 2456</li>
          <li>Telephone :+1 078 4589 2456</li>
          <li>Fax :+1 078 4589 2456</li>
          <li><a href="mailto:info@example.com">info@example.com</a></li>
        </ul>
      </div>
      <div class="col-md-8 contact-left">
        <h4>Contact Form</h4>
        <form>
          <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
          <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
          <input type="text" value="Telephone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone';}" required="">
          <textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
          <input type="submit" value="Submit" >
          <input type="reset" value="Clear" >

        </form>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!-- //contact -->
  <!-- footer -->
  <div class="footer">
    <div class="container">
      <div class="footer-grids">
        <div class="col-md-3 footer-grid">
          <h3 class="title">Services</h3>
          <ul>
            <li><a href="#">Rerum hic tenetur</a></li>
            <li><a href="#">Molestiae non recusandae</a></li>
            <li><a href="#">Voluptates repudiandae</a></li>
            <li><a href="#">Necessitatibus saepe</a></li>
            <li><a href="#">Debitis aut rerum</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-grid">
          <h3 class="title">Information</h3>
          <ul>
            <li><a href="#">Quibusdam et aut</a></li>
            <li><a href="#">Testimonals</a></li>
            <li><a href="#">Archives</a></li>
            <li><a href="#">Our Staff</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-grid">
          <h3 class="title">More details</h3>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-grid contact-grid">
          <h3 class="title">Contact us</h3>
          <ul>
            <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Newyork Still Road.</li>
            <li class="adrs">756 gt globel Place</li>
            <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+000 100 444 1111</li>
            <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:example@mail.com">mail@example.com</a></li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <div class="copy">


      <div class="clearfix"> </div>
  </div>

  </body>

</section>
